arrow==1.3.0
asgiref==3.8.1
beautifulsoup4==4.13.3
binaryornot==0.4.4
category==0.0.3
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cookiecutter==2.6.0
Django==5.2
django-browser-reload==1.18.0
django-ckeditor==6.7.2
django-ckeditor-5==0.2.17
django-froala-editor @ https://github.com/froala/django-froala-editor/archive/master.zip#sha256=87512c62d131fe461c0735a79edde4a89d0dc44fddfb9b0b00e6bf9bda43277a
django-grappelli==4.0.1
django-jazzmin==3.0.1
django-js-asset==3.1.2
django-tailwind==4.0.1
django-tinymce==4.1.0
idna==3.10
Jinja2==3.1.6
lxml==5.3.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.2.4
pillow==11.2.1
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
text-unidecode==1.3
types-python-dateutil==2.9.0.20241206
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
