<div>
  <div class="flex flex-col max-w-screen-xl px-2 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    <div class="p-4 flex flex-row items-center justify-between">
      <!-- Logo -->
      <a href="/" class="flex title-font font-medium items-center text-gray-900 dark:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
          <rect x="2" y="2" width="20" height="20" rx="10" ry="10" fill="#EA580C"/>
          <text x="50%" y="54%" font-size="10" text-anchor="middle" dy=".3em" fill="#FFFFFF" font-family="Arial" font-weight="bold">NA</text>
        </svg>
        <span class="ml-3 font-bold text-xl">Naeem Ahmed</span>
      </a>
      

      <!-- Hamburger -->
      <button aria-label="mobile-menu" class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path x-show="!open" fill-rule="evenodd" d="M3 5h14M3 10h14M3 15h14" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M6 6l8 8M6 14L14 6" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <!-- Navigation Links -->
    <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row items-center">
      <a class="md:mt-0 mt-3 px-3 py-2" href="{% url 'projects' %}">Projects</a>
      <a class="md:mt-0 mt-3 px-3 py-2" href="{% url 'articles' %}">Articles</a>
      <a class="md:mt-0 mt-3 px-3 py-2" href="http://github.com/naeemahmed02">Github</a>
      <a class="md:mt-0 mt-3 px-3 py-2" href="{% url 'about-me' %}">About me</a>
      {% if request.user.is_authenticated %}
      <!-- Profile Avatar and Dropdown -->
      <div class="relative md:mt-0 mt-3 px-3 py-2" x-data="{ dropdownOpen: false }">
        <button @click="dropdownOpen = !dropdownOpen" class="flex items-center focus:outline-none">
          <img class="w-8 h-8 rounded-full border-2 border-orange-500 dark:border-slate-500" src="{{ request.user.profile.url }}" alt="Profile Avatar">
        </button>
        <div
          x-show="dropdownOpen"
          @click.away="dropdownOpen = false"
          class="absolute right-0 mt-2 w-48 bg-white dark:bg-slate-800 rounded-md shadow-lg z-50">
          <div class="block px-4 py-2 text-sm text-gray-700 dark:text-white"><a href="{% url 'logout' %}">Lougout</a></div>
        </div>
        {% endif %}
      </div>
    </nav>
  </div>
</div>
